name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=26.1,name=iPhone 17 Pro']

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: xcodebuild build-for-testing -scheme "SwiftComponents-Package" -destination "${{ matrix.destination }}"
    - name: Run tests
      run: xcodebuild test -scheme "SwiftComponents-Package" -destination "${{ matrix.destination }}"
